<div class="row">
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3>Acerca de mi</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eveniet repudiandae adipisci sed eaque consequuntur exercitationem iure? Ab, cumque cum at, hic repellat nulla cupiditate est harum assumenda ratione consectetur.</p>
            </div>
            <div class="col-md-3">
              <h3>Enlaces</h3>
              <ul>
                <li><a href="#">facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Github</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3>Contacto</h3>
              <p>Dirección: 1234 Calle Falsa</p>
              <p>Ciudad: Ciudad Falsa</p>
              <p>Teléfono: 555-555-5555</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>Copyright © SebastianDelgado. Todos los derechos reservados.</p>
            </div>
          </div>
        </div>
      </footer>
</div>