<div class="row">
    <h1 class="titulo">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1 class="inline-element">Trabajo 1</h1> - <h3 class="inline-element">years</h3>
             </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore veritatis accusamus ad odit minus doloremque odio commodi est quas corporis, consectetur iure, nulla maxime nihil, eaque blanditiis. Ducimus, doloribus!
            </p>
        </ul>
        <ul>
            <li>
                <h1 class="inline-element">Trabajo 2</h1> - <h3 class="inline-element">years</h3>
             </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore veritatis accusamus ad odit minus doloremque odio commodi est quas corporis, consectetur iure, nulla maxime nihil, eaque blanditiis. Ducimus, doloribus!
            </p>
        </ul>
        <ul>
            <li>
                <h1 class="inline-element">Trabajo 3</h1> - <h3 class="inline-element">years</h3>
             </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore veritatis accusamus ad odit minus doloremque odio commodi est quas corporis, consectetur iure, nulla maxime nihil, eaque blanditiis. Ducimus, doloribus!
            </p>
        </ul>
        
    </div>
</div>