
   <div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 bg-light p-5 rounded">
            <form (ngSubmit)= "onCreate()" novalidate #f="ngForm">
                <h2 class="text-center text-primary mb-4">Agregar Experiencia</h2>
                <div class="form-group">
                    <label for="nombreE" class="text-primary">Nombre Empresa:</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" placeholder="Ingrese su nombre" [(ngModel)]="nombreE" required>

                </div>
                <div class="form-group">
                    <label for="descripcionE" class="text-primary mt-3">Experiencia:</label>
                    <input type="text" class="form-control" id="descripcionE" placeholder="Ingrese su experiencia" name="descripcionE" [(ngModel)]="descriptionE" required>

                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mt-3">Agregar Experiencia</button>
                </div>
            </form>
        </div>
    </div>
</div>


