.bi {
    width: 50px !important;
}

.bi-twitter {
    color: #00acee !important;
}

.bi-github {
    color: black;
}

.bi-linkedin {
    color: #0e76a8;
}

.bi-instagram {
    color:  #e95950
}

.bi-facebook {
    color: #3b5998
}

button {
    margin: 10px;
    margin-top: 20px;
    padding: 4px;
    border-radius: 10px;
}