    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img id="foto-perfil" src="../../../assets/foto.png" class="img-fluid" alt="foto-perfil" >
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p class="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p class="titulo">Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Mi nombre es Sebastián Delgado, soy programador programador full stack jr con un gran potencial en el desarrollo de aplicaciones web. Con una mentalidad de constante aprendizaje y un enfoque en resolver problemas, tengo una excelente adición a cualquier equipo de desarrollo.
                    Entre mis metas a corto plazo, busco mejorar mis habilidades en JavaScript y en el desarrollo de aplicaciones con React. También espero obtener experiencia en el desarrollo de aplicaciones con Node.js y en la implementación de bases de datos.
                    También cuento con conocimientos en Java, lo que le permite desarrollar aplicaciones escalables y robustas, y conocimiento de Angular, lo que me permite crear aplicaciones web interactivas y con una gran experiencia de usuario.
                    A largo plazo, espero convertirme en un desarrollador senior y liderar proyectos en equipos de desarrollo. También espero contribuir al código abierto y compartir mis conocimientos con la comunidad.
                    .</p>
            </span>
        </div>
    </div>
<!-- 
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <img id="foto-perfil" src="../../../assets/foto.png" class="img-fluid rounded-circle" alt="foto-perfil" >
            </div>
            <div class="col-xs-12 col-sm-8">
                <h2 class="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
                <h3 class="titulo">Full Stack Developer Jr</h3>
                <div>
                    <h3>Acerca de mi</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eos natus quisquam nihil blanditiis delectus optio, sit similique? Dignissimos sit accusamus placeat. Molestiae fugit, incidunt dolorem blanditiis cum sapiente impedit.</p>
                </div>
            </div>
        </div>
    </div> -->
    


    
    