    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img id="foto-perfil" src="../../../assets/foto.png" class="img-fluid" alt="foto-perfil" >
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p class="nombre">Sebastian Delgado</p>
            <p class="titulo">Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eos natus quisquam nihil blanditiis delectus optio, sit similique? Dignissimos sit accusamus placeat. Molestiae fugit, incidunt dolorem blanditiis cum sapiente impedit.</p>
            </span>
        </div>
    </div>